/* Add this to your CSS file or inline styles */
.ql-container {
	direction: ltr; /* Ensure the text aligns from left to right */
  }
  
  .ql-editor {
	font-size: medium !important;
	text-align: left; /* Set the text alignment */
  }
  
  .main{
	height: 100vh;
	width: 100vw;
	background-color: rgb(38, 133, 253);
  }